@import '../../styles.scss';

.header{
    height: 5vh;
    display: flex;
    background-color: $base-color;
    justify-content: space-between;
    align-items: center;

    border-bottom: 2px solid black;
}

/*zona logo*/
.header-logo{
    display: flex;
    justify-content: center;
    flex: 1;
}

.img-logo{
    height: 50px;
    padding: 0.5em;
}

/*zona usuario*/
.header-user{
    margin-right: 1em;
}

.btn-wanderer-primary{
    color: white;
    margin: 0.2em;
    border-radius: 50px;
}

.btn-wanderer-primary:hover{
    border: 1px solid white;
    cursor: pointer;
    margin: 0.2em;
    border-radius: 50px;
}
